<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Bookings</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Booking</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" @click="showNewBookingModel">Create Booking</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <b-row class="px-5">
                        <b-col cols="11" md="6">
                            <b-form-group label-cols="3" label-cols-lg="2" label="Update" label-for="Update">
                                <select class="form-control"  id="update" v-model="update">
                                    <option value="New">Change status to New</option>
                                    <option value="Ongoing">Change status to Ongoing</option>
                                    <option value="Completed">Change status to Completed</option>
                                    <option value="Cancelled">Change status to Cancelled</option>
                                    <option value="Rejected">Change status to Rejected</option>
                                    <option value="Delete">Delete</option>
                                </select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="1" md="1">
                            <b-button @click="updateButton">apply</b-button>
                        </b-col>
                        <b-col cols="12" md="6">
                        <b-form-group label-cols="3" label-cols-lg="2" label="Filter by Status" label-for="filter">
                            <select id="filter" v-on:change="filterby"  v-model="filterSelect" class="form-control">
                                <option disabled> Select Status</option>
                                <option value="New">New</option>
                                <option value="Ongoing">Ongoing</option>
                                <option value="Completed">Completed</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="Rejected">Rejected</option>
                            </select>
                        </b-form-group>
                        </b-col>
                        <b-col cols="12" md="6">
                            <b-form-input placeholder="Search"  v-model="search" @keyup.enter="search"></b-form-input>
                        </b-col>
                    </b-row>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Booking ID</th>
                                    <th>Service</th>
                                    <th>Tenant</th>
                                    <th>Booking Date</th>
                                    <th>Total Amount</th>
                                    <th>Status</th>
                                    <td>Reason</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="bookings.data" v-for="(booking,index) in bookings.data" :key="index">
                                    <td><b-form-checkbox size="sm"  :value="booking.id"  v-model="checkedBookingId"></b-form-checkbox></td>
                                    <td>{{booking.id}}</td>
                                    <td>{{booking.service.name_en}}</td>
                                    <td>{{booking.tenant.name_ar}}</td>
                                    <td>{{booking.booking_date}}</td>
                                    <td>{{booking.total_amount}}</td>
                                    <td><span :class="booking.status">{{booking.status}}</span></td>
                                    <td> {{booking.reason}} </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="bookings" @pagination-change-page="getBookings"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newBookingModel" hide-footer title="Create New Booking">
                    <div class="form" v-on:submit.prevent="createBooking" style="margin: 10px">
                        <form>
                            <div class="form-group">
                                <label for="service">Service</label>
                                <select id="service" v-model="bookingData.service_id" class="form-control">
                                    <option v-for="(service, index) in services" v-bind:value="service.id">
                                        {{ service.name_en }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tenant">Tenant</label>
                                <select id="tenant" v-model="bookingData.tenant_id" class="form-control">
                                    <option v-for="(tenant, index) in tenants" v-bind:value="tenant.id">
                                        {{ tenant.name_en }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="booking_date">Booking Date</label>
                                <b-form-datepicker id="booking_date" v-model="bookingData.booking_date" :date-format-options="{  day: '2-digit', month: '2-digit',year: 'numeric' }"
                                :min="min" locale="en"></b-form-datepicker>
                                <div class="invalid-feedback" v-if="errors.booking_date">{{errors.booking_date[0]}}</div>
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewBookingModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editBookingModel" hide-footer title="Create Edit Booking">
                    <div class="form" v-on:submit.prevent="updateBooking" style="margin: 10px">
                        <form>
                            <div class="form-group">
                                <label for="edit_service">Service</label>
                                <select id="edit_service" v-model="bookingData.service" class="form-control">
                                    <option v-for="(service, index) in services" v-bind:value="service.id">
                                        {{ service.name_en }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_tenant">Tenant</label>
                                <select id="edit_tenant" v-model="editBookingData.tenant" class="form-control">
                                    <option v-for="(tenant, index) in tenants" v-bind:value="tenant.id">
                                        {{ tenant.name_en }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_booking_date">Booking Date</label>
                                <input type="text" class="form-control" v-model="editBookingData.booking_date" id="edit_booking_date">
                                <div class="invalid-feedback" v-if="errors.booking_date">{{errors.booking_date[0]}}</div>
                            </div>
                            <div class="form-group">
                                <label for="edit_total_amount">Total Amount</label>
                                <input type="text" class="form-control" v-model="editBookingData.total_amount" id="edit_total_amount">
                                <div class="invalid-feedback" v-if="errors.total_amount">{{errors.total_amount[0]}}</div>
                            </div>
                            <div class="form-group">
                                <label for="edit_status">Status</label>
                                <input type="text" class="form-control" v-model="editBookingData.status" id="edit_status">
                                <div class="invalid-feedback" v-if="errors.status">{{errors.status[0]}}</div>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditBookingModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="rejectBookingModel" hide-footer title="Create Edit Order">
                    <div class="form" v-on:submit.prevent="rejectBooking" style="margin: 10px">
                        <form>
                            <div class="form-group">
                                <label for="reason">Reason</label>
                                <textarea type="text" v-model="reason" class="form-control" id="reason" rows="3">
                                </textarea>
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideRejectBookingModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Submit to Reject</button>

                            </div>
                        </form>
                    </div>
                </b-modal>
            </div>
        </div>
    </div>

</template>

<script>
    import * as bookingService from '../services/booking_service';

    export default {
        name: "Booking",
        data() {
            const now = new Date();
            const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            // 15th two months prior
            const minDate = new Date(today);

            return {
                bookings: {},
                allSelected: false,
                checkedBookingId:[],
                reason:null,
                update:null,
                tenants: [],
                services: [],
                bookingData:[],
                search:null,
                editBookingData:{},
                errors: {},
                filterSelect:null,
                value: '',
                min: minDate,
                direction: 'asc',
                sort: null,
                page: 1,
            }
        },
        mounted() {
            this.getBookings();
            this.getServices();
            this.getTenants();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getBookings();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewBookingModel() {
                this.$refs.newBookingModel.hide();
            },
            showNewBookingModel() {
                this.$refs.newBookingModel.show();
            },
            sortChange(key) {
                this.direction = this.sort !== key || this.direction === 'desc' ? 'asc' : 'desc';
                this.sort = key;
                this.getBookings(1);
            },
            filterby: async function (){
                this.getBookings(1);
            },
            searchData: async function (){
                this.getBookings(1);
            },
            getBookings: async function (page){
                let params = {page: page};
                if (this.sort !== null) {
                    params['sort'] = this.sort;
                    params['direction'] = this.direction;
                }
                if(this.search !== null)
                    params['search'] = this.search;
                if(this.filterSelect !== null)
                    params['filter'] = this.filterSelect;
                try {
                    let response = await bookingService.getBooking(params);
                    this.bookings = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getServices: async function (){
                try {
                    let response = await bookingService.getService();
                    this.services = response.data.data;
                    // console.log(response.data.data);
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getTenants: async function (){
                try {
                    let response = await bookingService.getTenant();
                    this.tenants = response.data.data;
                    // console.log(response.data.data);
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createBooking: async function () {

                var service_id= '';
                var tenant_id='';
                var booking_date='';
                if(typeof this.bookingData.service_id !== "undefined")
                    service_id=this.bookingData.service_id;
                if(typeof this.bookingData.tenant_id !== "undefined")
                    tenant_id=this.bookingData.tenant_id;
                if(typeof this.bookingData.booking_date !== "undefined")
                    booking_date=this.bookingData.booking_date;

                let formData = new FormData();
                formData.append('service_id', service_id);
                formData.append('tenant_id', tenant_id);
                formData.append('booking_date', booking_date);
                formData.append('status', 'New');

                try {

                    const response = await bookingService.createBooking(formData);
                    this.errors = {};
                    this.bookings.data.unshift(response.data);
                    this.hideNewBookingModel();
                    this.flashMessage.success({
                        title: 'Booking Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.errors = error.response.data.errors;
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
            },
            hideEditBookingModel() {
                this.$refs.editBookingModel.hide();
            },
            showEditBookingModel() {
                this.$refs.editBookingModel.show();
            },
            editBooking(booking) {
                this.editBookingData=booking;
                this.showEditBookingModel();
            },
            hideRejectBookingModel() {
                this.$refs.rejectBookingModel.hide();
            },
            showRejectBookingModel() {
                this.$refs.rejectBookingModel.show();
            },
            updateButton: async function () {
                let formData = new FormData();
                formData.append('update', this.update);
                formData.append('bookingIds', this.checkedBookingId);
                if(this.update == 'Rejected'){
                    this.showRejectBookingModel();
                }else{
                    this.updateBooking(formData);
                }
            },
            updateBooking:async function(formData){
                try {
                    const response = await bookingService.updateBooking(formData);
                    this.bookings.data.map(booking=>{
                        if(booking.id === response.data.id){
                            for(let key in response.data){
                                booking[key]=response.data[key];
                            }
                        }
                    });
                    this.flashMessage.success({
                        title: 'Booking Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
            },
            rejectBooking:async function () {
                let formData = new FormData();
                formData.append('update', this.update);
                formData.append('bookingIds', this.checkedBookingId);
                formData.append('reason', this.reason);
                this.updateBooking(formData);
                this.hideRejectBookingModel();
            }
        }
    }

</script>


<style scoped>

    .New {
        background: #c6e1c6;
        color: #5b841b;
        padding: 5px 15px;
        border-radius: 5px;
    }

    .Ongoing {
        background: #E9AC24;
        color: #c1e3bc;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .Cancelled {
        background: #b3b3b3;
        color: #ffffff;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .Rejected {
        background: #e90005;
        color: #c1e3bc;
        padding: 5px 15px;
        border-radius: 5px;
    }

    .Completed {
        background: #2b8022;
        color: #c1e3bc;
        padding: 5px 15px;
        border-radius: 5px;
    }

</style>
