<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Buildings</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Building</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" @click="showNewBuildingModel">Create Building</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <b-row class="px-5">
                        <b-col cols="4">

                            <b-form-group label-cols="4" label-cols-lg="2" label="Filter by Property" label-for="filter">
                                <select id="filter" v-on:change="filterby"  v-model="filterSelect" class="form-control">
                                    <option disabled> Select Property</option>
                                    <option v-for="property in properties" v-bind:value="property.name_en">
                                        {{ property.name_en }}
                                    </option>
                                </select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="8">
                            <b-form-input placeholder="Search"  v-model="search" @keyup.enter="search"></b-form-input>
                        </b-col>
                    </b-row>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th>Name <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name')"></b-icon></th>
                                    <th>City <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('city')"></b-icon></th>
                                    <th>Address <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('address')"></b-icon></th>
                                    <th>Property </th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="buildings.data" v-for="building in buildings.data">
<!--                                    <td>{{building.id}}</td>-->
                                    <td>{{building.name}}</td>
                                    <td>{{building.city}}</td>
                                    <td>{{building.address}}</td>
                                    <td>{{building.property.name_en}}</td>
                                    <td>
                                        <button v-on:click="editBuilding(building)" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteBuilding(building)" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="buildings" @pagination-change-page="getBuildings"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newBuildingModel" hide-footer title="Create New Building">
                    <div class="form" v-on:submit.prevent="createBuilding" style="margin: 10px">
                        <form>
                            <p v-show="error" style="color: red">
                                * {{ error }}</p>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" v-model="buildingData.name" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" v-model="buildingData.city" id="city">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" v-model="buildingData.address" id="address">
                            </div>
                            <div class="form-group">
                                <label for="property">Property</label>
                                <select id="property" v-model="buildingData.property_id" class="form-control">
                                    <option v-for="property in properties" v-bind:value="property.id">
                                        {{ property.name_en }}
                                    </option>
                                </select>
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewBuildingModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editBuildingModel" hide-footer title="Create Edit Building">
                    <div class="form" v-on:submit.prevent="updateBuilding" style="margin: 10px">
                        <form>
                            <p v-show="editError" style="color: red">
                                * {{ editError }}</p>
                            <div class="form-group">
                                <label for="edit_name">Name</label>
                                <input type="text" v-model="editBuildingData.name" class="form-control" id="edit_name">
                            </div>
                            <div class="form-group">
                                <label for="edit_city">City</label>
                                <input type="text" class="form-control" v-model="editBuildingData.city" id="edit_city">
                            </div>
                            <div class="form-group">
                                <label for="edit_address">Address</label>
                                <input type="text" class="form-control" v-model="editBuildingData.address" id="edit_address">
                            </div>
                            <div class="form-group">
                                <label for="property_edit">Property</label>
                                <select id="property_edit" v-model="editBuildingData.property_id" class="form-control">
                                    <option v-for="property in properties" v-bind:value="property.id">
                                        {{ property.name_en }}
                                    </option>
                                </select>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditBuildingModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as buildingService from '../services/building_service';
    import * as userService from "../services/user_service";

    export default {
        name: "Building",
        data() {
            return {
                buildings: {},
                buildingData:[],
                properties:[],
                search:null,
                editBuildingData:{},
                error: null,
                editError: null,
                filterSelect:null,
                direction: 'asc',
                sort: null,
                page: 1,
            }
        },
        mounted() {
            this.getBuildings();
            this.getProperties();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getBuildings();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewBuildingModel() {
                this.$refs.newBuildingModel.hide();
            },
            showNewBuildingModel() {
                this.$refs.newBuildingModel.show();
            },
            sortChange(key) {
                this.direction = this.sort !== key || this.direction === 'desc' ? 'asc' : 'desc';
                this.sort = key;
                this.getBuildings(1);
            },
            filterby: async function (){
                this.getBuildings(1);
            },
            searchData: async function (){
                this.getBuildings(1);
            },
            getBuildings: async function (page=1){
                let params = {page: page};
                if (this.sort !== null) {
                    params['sort'] = this.sort;
                    params['direction'] = this.direction;
                }
                if(this.search !== null)
                    params['search'] = this.search;
                if(this.filterSelect !== null)
                    params['filter'] = this.filterSelect;
                try {
                    let response = await buildingService.getBuilding(params);
                    this.buildings = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getProperties: async function (){
                try {
                    let response = await buildingService.getProperty();
                    this.properties = response.data.data;
                    console.log(response.data.data);
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createBuilding: async function () {
                if (!this.buildingData.name) {
                    this.error="Name required.";
                }
                else if (!this.buildingData.city) {
                    this.error='City required.';
                }else if (!this.buildingData.address) {
                    this.error='Address required.';
                }else if (!this.buildingData.property_id) {
                    this.error='Property required.';
                }else {
                    this.error=null;

                let formData = new FormData();
                formData.append('name', this.buildingData.name);
                formData.append('city', this.buildingData.city);
                formData.append('address', this.buildingData.address);
                formData.append('property_id', this.buildingData.property_id);
                try {
                    const response = await buildingService.createBuilding(formData);
                    this.errors = {};
                   this.buildings.data.unshift(response.data.data);
                    this.hideNewBuildingModel();
                    this.flashMessage.success({
                        title: 'Building Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.errors = error.response.data.errors;
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditBuildingModel() {
                this.$refs.editBuildingModel.hide();
            },
            showEditBuildingModel() {
                this.$refs.editBuildingModel.show();
            },
            editBuilding(building) {
                this.editBuildingData=building;
                this.showEditBuildingModel();
            },
            updateBuilding: async function () {
                if (!this.editBuildingData.name) {
                    this.editError="Name required.";
                }
                else if (!this.editBuildingData.city) {
                    this.editError='City required.';
                }else if (!this.editBuildingData.address) {
                    this.editError='Address required.';
                }else if (!this.editBuildingData.property_id) {
                    this.editError='Property required.';
                }else {
                    this.editError=null;
                let formData = new FormData();
                    formData.append('name', this.editBuildingData.name);
                    formData.append('city', this.editBuildingData.city);
                    formData.append('address', this.editBuildingData.address);
                    formData.append('property_id', this.editBuildingData.property_id);
                formData.append('_method','put');
                try {
                    const response = await buildingService.updateBuilding(this.editBuildingData.id,formData);
                    this.buildings.data.map(building=>{
                        if(building.id === response.data.data.id){
                            for(let key in response.data.data){
                                building[key]=response.data.data[key];
                            }
                        }
                    });
                    this.hideEditBuildingModel();
                    this.flashMessage.success({
                        title: 'Building Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteBuilding: async function (building) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${building.name_en} (${building.name_ar})?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                buildingService.deleteBuilding(building.id);
                                this.buildings.data = this.buildings.data.filter(obj => {
                                    return obj.id !== building.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
