<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Categories</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Category</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" style="background-color: #3158C9" @click="showNewCategoryModel">Create Category</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <b-row class="px-5">
                        <b-col cols="4">
                            <b-form-input placeholder="Search"  v-model="search" @keyup.enter="search"></b-form-input>
                        </b-col>
                    </b-row>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th>Name EN <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name_en')"></b-icon></th>
                                    <th>Name AR <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name_ar')"></b-icon></th>
                                    <th>Description EN <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('desc_en')"></b-icon></th>
                                    <th>Description AR <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('desc_ar')"></b-icon></th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="categories.data" v-for="(category,index) in categories.data" :key="index">
<!--                                    <td>{{category.id}}</td>-->
                                    <td>{{category.name_en}}</td>
                                    <td>{{category.name_ar}}</td>
                                    <td>{{category.desc_en}}</td>
                                    <td>{{category.desc_ar}}</td>
                                    <td>
                                        <button v-on:click="editCategory(category)" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteCategory(category)" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="categories" @pagination-change-page="getCategories"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newCategoryModel" hide-footer title="Create New Category">
                    <div class="form" v-on:submit.prevent="createCategory" style="margin: 10px">
                        <form>
                            <p v-show="errors" style="color: red">
                            * {{ errors }}</p>
                            <div class="form-group">
                                <label for="name_en">Name EN</label>
                                <input type="text" v-model="categoryData.name_en" class="form-control" id="name_en">
                            </div>
                            <div class="form-group">
                                <label for="name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="categoryData.name_ar" id="name_ar">
                            </div>
                            <div class="form-group">
                                <label for="description_en">Description EN</label>
                                <textarea type="text" v-model="categoryData.desc_en" class="form-control" id="description_en" rows="3">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label for="description_ar">Description AR</label>
                                <textarea type="text" v-model="categoryData.desc_ar" class="form-control" id="description_ar"  rows="3"></textarea>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewCategoryModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>

                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editCategoryModel" hide-footer title="Create Edit Category">
                    <div class="form" v-on:submit.prevent="updateCategory" style="margin: 10px">
                        <form>
                            <p v-show="editError" style="color: red">
                                * {{ editError }}</p>
                            <div class="form-group">
                                <label for="edit_name_en">Name EN</label>
                                <input type="text" v-model="editCategoryData.name_en" class="form-control" id="edit_name_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="editCategoryData.name_ar" id="edit_name_ar">
                            </div>
                            <div class="form-group">
                                <label for="description_en_edit">Description EN</label>
                                <textarea type="text" rows="3" v-model="editCategoryData.desc_en" class="form-control" id="description_en_edit"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="description_ar_edit">Description AR</label>
                                <textarea type="text" rows="3" v-model="editCategoryData.desc_ar" class="form-control" id="description_ar_edit"></textarea>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditCategoryModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as categoryService from '../services/category_service';

    export default {
        name: "Category",
        data() {
            return {
                categories: {},
                roles: [],
                categoryData: [],
                search:null,
                editCategoryData:{},
                errors: null,
                editError: null,
                direction: 'asc',
                sort: null,
                page: 1,
            }
        },
        created() {
            this.getCategories();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getCategories();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewCategoryModel() {
                this.$refs.newCategoryModel.hide();
            },
            showNewCategoryModel() {
                this.$refs.newCategoryModel.show();
            },
            sortChange(key) {
                this.direction = this.sort !== key || this.direction === 'desc' ? 'asc' : 'desc';
                this.sort = key;
                this.getCategories(1);
            },
            searchData: async function (){
                this.getCategories(1);
            },
            getCategories: async function (page=1){

                let params = {page: page};
                if (this.sort !== null) {
                    params['sort'] = this.sort;
                    params['direction'] = this.direction;
                }
                if(this.search !== null)
                    params['search'] = this.search;
                try {
                    let response = await categoryService.getCategory(params);
                    this.categories = response.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createCategory: async function () {

                if (!this.categoryData.name_en) {
                    this.errors="Name EN required.";
                }
                else if (!this.categoryData.name_ar) {
                    this.errors='Name AR required.';
                }else if (!this.categoryData.desc_en) {
                    this.errors="Description EN required.";
                }
                else if (!this.categoryData.desc_ar) {
                    this.errors='Description AR required.';
                }

                else {
                    this.errors=null;
                let formData = new FormData();
                formData.append('name_en', this.categoryData.name_en);
                formData.append('name_ar', this.categoryData.name_ar);
                formData.append('desc_en', this.categoryData.desc_en);
                formData.append('desc_ar', this.categoryData.desc_ar);
                try {
                    const response = await categoryService.createCategory(formData);
                    this.errors = {};
                    this.categories.data.unshift(response.data);
                    this.hideNewCategoryModel();
                    this.flashMessage.success({
                        title: 'Category Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditCategoryModel() {
                this.$refs.editCategoryModel.hide();
            },
            showEditCategoryModel() {
                this.$refs.editCategoryModel.show();
            },
            editCategory(category) {
                this.editCategoryData={...category};
                this.showEditCategoryModel();
            },
            updateCategory: async function () {
                if (!this.editCategoryData.name_en) {
                    this.editError="Name EN required.";
                }
                else if (!this.editCategoryData.name_ar) {
                    this.editError='Name AR required.';
                }else if (!this.editCategoryData.desc_en) {
                    this.editError="Description EN required.";
                }
                else if (!this.editCategoryData.desc_ar) {
                    this.editError='Description AR required.';
                }

                else {
                    this.editError=null;
                let formData = new FormData();
                formData.append('name_en', this.editCategoryData.name_en);
                formData.append('name_ar', this.editCategoryData.name_ar);
                formData.append('desc_en', this.editCategoryData.desc_en);
                formData.append('desc_ar', this.editCategoryData.desc_ar);
                formData.append('_method','put');
                try {
                    const response = await categoryService.updateCategory(this.editCategoryData.id,formData);
                    this.categories.data.map(category=>{
                        if(category.id == response.data.id){
                            for(let key in response.data){
                                category[key]=response.data[key];
                            }
                        }
                    });
                    this.hideEditCategoryModel();
                    this.flashMessage.success({
                        title: 'Category Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteCategory: async function (category) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${category.name_en} (${category.name_ar})?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                categoryService.deleteCategory(category.id);
                                this.categories.data = this.categories.data.filter(obj => {
                                    return obj.id !== category.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
