<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Orders</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Order</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" @click="showNewOrderModel">Create Order</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <b-row class="px-5">
                        <b-col cols="11" md="6">
                            <b-form-group label-cols="3" label-cols-lg="2" label="Update" label-for="Update">
                                <select class="form-control"  id="update" v-model="update">
                                    <option value="New">Change status to New</option>
                                    <option value="Ongoing">Change status to Ongoing</option>
                                    <option value="Completed">Change status to Completed</option>
                                    <option value="Cancelled">Change status to Cancelled</option>
                                    <option value="Rejected">Change status to Rejected</option>
                                    <option value="Delete">Delete</option>
                                </select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="1" md="1">
                            <b-button @click="updateButton">apply</b-button>
                        </b-col>
                        <b-col cols="12" md="6">
                        <b-form-group label-cols="3" label-cols-lg="2" label="Filter by Status" label-for="filter">
                            <select id="filter" v-on:change="filterby"  v-model="filterSelect" class="form-control">
                                <option disabled> Select Status</option>
                                <option value="New">New</option>
                                <option value="Ongoing">Ongoing</option>
                                <option value="Completed">Completed</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="Rejected">Rejected</option>
                            </select>
                        </b-form-group>
                        </b-col>
                        <b-col cols="12" md="6">
                            <b-form-input placeholder="Search"  v-model="search" @keyup.enter="search"></b-form-input>
                        </b-col>
                    </b-row>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Order ID <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('id')"></b-icon></th>
                                    <th>Product </th>
                                    <th>Tenant</th>
                                    <th>Quantity <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('quantity')"></b-icon></th>
                                    <th>Total Amount </th>
                                    <th>Status <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('status')"></b-icon></th>
                                    <th>Reason</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="orders.data" v-for="(order,index) in orders.data" :key="index">
                                    <td><b-form-checkbox size="sm"  :value="order.id"  v-model="checkedOrderId"></b-form-checkbox></td>
                                    <td>{{order.id}}</td>
                                    <td>{{order.product.name_en}}</td>
                                    <td>{{order.tenant.name_en}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.total_amount}}</td>
                                    <td class="order-status"> <span :class="order.status">{{order.status}}</span></td>
                                    <td>{{order.reason}}</td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="orders" @pagination-change-page="getOrders"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newOrderModel" hide-footer title="Create New Order">
                    <div class="form" v-on:submit.prevent="createOrder" style="margin: 10px">
                        <form>
                            <div class="form-group">
                                <label for="product">Product</label>
                                <select id="product" v-model="orderData.product_id" class="form-control">
                                    <option v-for="product in products" v-bind:value="product.id">
                                        {{ product.name_en }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tenant">Tenant</label>
                                <select id="tenant" v-model="orderData.tenant_id" class="form-control">
                                    <option v-for="tenant in tenants" v-bind:value="tenant.id">
                                        {{ tenant.name_en }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input type="number" class="form-control" v-model="orderData.quantity" id="quantity">
                                <div class="invalid-feedback" v-if="errors.quantity">{{errors.quantity[0]}}</div>
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewOrderModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="rejectOrderModel" hide-footer title="Create Edit Order">
                    <div class="form" v-on:submit.prevent="rejectOrder" style="margin: 10px">
                        <form>
                            <div class="form-group">
                                <label for="reason">Reason</label>
                                <textarea type="text" v-model="reason" class="form-control" id="reason" rows="3">
                                </textarea>
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideRejectOrderModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Submit to Reject</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as orderService from '../services/order_service';
    import * as bookingService from '../services/booking_service';

    export default {
        name: "Order",
        data() {
            return {
                orders: {},
                allSelected: false,
                orderData:[],
                checkedOrderId:[],
                update:null,
                search:null,
                editOrderData:{},
                errors: {},
                filterSelect:null,
                tenants:[],
                products:[],
                direction: 'asc',
                sort: null,
                page: 1,
                reason:null,
            }
        },
        created() {
            this.getOrders();
            this.getTenants();
            this.getProducts();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getOrders();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewOrderModel() {
                this.$refs.newOrderModel.hide();
            },
            showNewOrderModel() {
                this.$refs.newOrderModel.show();
            },
            sortChange(key) {
                this.direction = this.sort !== key || this.direction === 'desc' ? 'asc' : 'desc';
                this.sort = key;
                this.getOrders(1);
            },
            filterby: async function (){
                this.getOrders(1);
            },
            searchData: async function (){
                this.getOrders(1);
            },
            getOrders: async function (page=1){
                let params = {page: page};
                if (this.sort !== null) {
                    params['sort'] = this.sort;
                    params['direction'] = this.direction;
                }
                if(this.search !== null)
                    params['search'] = this.search;
                if(this.filterSelect !== null)
                    params['filter'] = this.filterSelect;
                try {
                    let response = await orderService.getOrder(params);
                    this.orders = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getProducts: async function (){
                try {
                    let response = await orderService.getProducts();
                    this.products = response.data.data;
                    // console.log(response.data.data);
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getTenants: async function (){
                try {
                    let response = await bookingService.getTenant();
                    this.tenants = response.data.data;
                    // console.log(response.data.data);
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createOrder: async function () {
                var product_id= '';
                var tenant_id='';
                var quantity='';
                if(typeof this.orderData.product_id !== "undefined")
                    product_id=this.orderData.product_id;
                if(typeof this.orderData.tenant_id !== "undefined")
                    tenant_id=this.orderData.tenant_id;
                if(typeof this.orderData.quantity !== "undefined")
                    quantity=this.orderData.quantity;

                let formData = new FormData();
                formData.append('product_id', product_id);
                formData.append('tenant_id', tenant_id);
                formData.append('quantity', quantity);
                try {
                    const response = await orderService.createOrder(formData);
                    this.errors = {};
                    this.orders.data.unshift(response.data);
                    this.hideNewOrderModel();
                    this.flashMessage.success({
                        title: 'Order Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.errors = error.response.data.errors;
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
            },
            hideRejectOrderModel() {
                this.$refs.rejectOrderModel.hide();
            },
            showRejectOrderModel() {
                this.$refs.rejectOrderModel.show();
            },
            updateButton: async function () {
                let formData = new FormData();
                formData.append('update', this.update);
                formData.append('orderIds', this.checkedOrderId);
                if(this.update == 'Rejected'){
                    this.showRejectOrderModel();
                }else{
                    this.updateOrder(formData);
                }
            },
            updateOrder:async function(formData){
                try {
                    const response = await orderService.updateOrder(formData);
                    this.orders.data.map(order=>{
                        if(order.id === response.data.id){
                            for(let key in response.data){
                                order[key]=response.data[key];
                            }
                        }
                    });
                    this.flashMessage.success({
                        title: 'Order Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
            },
            rejectOrder:async function () {
                let formData = new FormData();
                formData.append('update', this.update);
                formData.append('orderIds', this.checkedOrderId);
                formData.append('reason', this.reason);
                this.updateOrder(formData);
                this.hideRejectOrderModel();
                }
            },
    }

</script>


<style scoped>

    .order-status .New {
        background: #c6e1c6;
        color: #5b841b;
        padding: 5px 15px;
        border-radius: 5px;
    }

    .order-status .Ongoing {
        background: #E9AC24;
        color: #c1e3bc;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .order-status .Cancelled {
        background: #b3b3b3;
        color: #ffffff;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .order-status .Rejected {
        background: #e90005;
        color: #c1e3bc;
        padding: 5px 15px;
        border-radius: 5px;
    }

    .order-status .Completed {
        background: #2b8022;
        color: #c1e3bc;
        padding: 5px 15px;
        border-radius: 5px;
    }


</style>
