<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Products</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Product</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" @click="showNewProductModel">Create Product</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <b-row class="px-5">
                        <b-col cols="4">
                            <b-form-input placeholder="Search"  v-model="search" @keyup.enter="search"></b-form-input>
                        </b-col>
                    </b-row>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th>Name EN <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name_en')"></b-icon></th>
                                    <th>Name AR <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name_ar')"></b-icon></th>
                                    <th>Price <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('price')"></b-icon></th>
                                    <th>Category</th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="products.data" v-for="(product,index) in products.data" :key="index">
<!--                                    <td>{{product.id}}</td>-->
                                    <td>{{product.name_en}}</td>
                                    <td>{{product.name_ar}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.category.name_en}}</td>
                                    <td>
                                        <button v-on:click="editProduct(product)" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteProduct(product)" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="products" @pagination-change-page="getProducts"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newProductModel" hide-footer title="create new product">
                    <div class="form" v-on:submit.prevent="createProduct" style="margin: 10px">
                        <form>
                            <p v-show="errors" style="color: red">
                            * {{ errors }}</p>
                            <div class="form-group">
                                <label for="name_en">Name EN</label>
                                <input type="text" v-model="productData.name_en" class="form-control" id="name_en">
                            </div>
                            <div class="form-group">
                                <label for="name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="productData.name_ar" id="name_ar">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" min="0" v-model="productData.price" class="form-control" id="price">
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" v-model="productData.category_id" class="form-control">
                                    <option v-for="category in categories" v-bind:value="category.id">
                                        {{ category.name_en }}
                                    </option>
                                </select>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewProductModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>

                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editProductModel" hide-footer title="create edit product">
                    <div class="form" v-on:submit.prevent="updateProduct" style="margin: 10px">
                        <form>
                            <p v-show="editError" style="color: red">
                                * {{ editError }}</p>
                            <div class="form-group">
                                <label for="edit_name_en">Name EN</label>
                                <input type="text" v-model="editProductData.name_en" class="form-control" id="edit_name_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="editProductData.name_ar" id="edit_name_ar">
                            </div>
                            <div class="form-group">
                                <label for="price_edit">Price</label>
                                <input type="number" min="0" v-model="editProductData.price" class="form-control" id="price_edit">
                            </div>
                            <div class="form-group">
                                <label for="category_edit">Category</label>
                                <select id="category_edit" v-model="editProductData.category_id" class="form-control">
                                    <option v-for="category in categories" v-bind:value="category.id">
                                        {{ category.name_en }}
                                    </option>
                                </select>
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditProductModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as productService from '../services/product_service';
    import * as categoryService from '../services/category_service';

    export default {
        name: "Product",
        data() {
            return {
                products: {},
                categories: [],
                productData:[],
                search:null,
                editProductData:[],
                errors: null,
                editError: null,
                direction: 'asc',
                sort: null,
                page: 1,
            }
        },
        created() {
            this.getProducts();
            this.getCategories();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getProducts();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewProductModel() {
                this.$refs.newProductModel.hide();
            },
            showNewProductModel() {
                this.$refs.newProductModel.show();
            },
            sortChange(key) {
                this.direction = this.sort !== key || this.direction === 'desc' ? 'asc' : 'desc';
                this.sort = key;
                this.getProducts(1);
            },
            searchData: async function (){
                this.getProducts(1);
            },
            getCategories: async function () {
                try {
                    const response = await categoryService.getCategories();
                    this.categories = response.data.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getProducts: async function (page=1){
                let params = {page: page};
                if (this.sort !== null) {
                    params['sort'] = this.sort;
                    params['direction'] = this.direction;
                }
                if(this.search !== null)
                    params['search'] = this.search;
                try {
                    let response = await productService.getProduct(params);
                    this.products = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createProduct: async function () {
                if (!this.productData.name_en) {
                    this.errors="Name EN required.";
                }
                else if (!this.productData.name_ar) {
                    this.errors='Name AR required.';
                }else if (!this.productData.price) {
                    this.errors="Price required.";
                }
                else if (!this.productData.category_id) {
                    this.errors='Category required.';
                }

                else {
                    this.errors=null;
                let formData = new FormData();
                formData.append('name_en', this.productData.name_en);
                formData.append('name_ar', this.productData.name_ar);
                formData.append('price', this.productData.price);
                formData.append('category_id', this.productData.category_id);
                try {
                    const response = await productService.createProduct(formData);
                    this.errors = {};
                    this.products.data.unshift(response.data.data);
                    this.hideNewProductModel();
                    this.flashMessage.success({
                        title: 'Product Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.errors = error.response.data.errors;
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditProductModel() {
                this.$refs.editProductModel.hide();
            },
            showEditProductModel() {
                this.$refs.editProductModel.show();
            },
            editProduct(product) {
                this.editProductData=product;
                this.showEditProductModel();
            },
            updateProduct: async function () {
                if (!this.editProductData.name_en) {
                    this.editError="Name EN required.";
                }
                else if (!this.editProductData.name_ar) {
                    this.editError='Name AR required.';
                }else if (!this.editProductData.price) {
                    this.editError="Price required.";
                }
                else if (!this.editProductData.category_id) {
                    this.editError='Category required.';
                }

                else {
                    this.editError=null;
                let formData = new FormData();
                formData.append('name_en', this.editProductData.name_en);
                formData.append('name_ar', this.editProductData.name_ar);
                formData.append('price', this.editProductData.price);
                formData.append('category_id', this.editProductData.category_id);
                formData.append('_method','put');
                try {
                    const response = await productService.updateProduct(this.editProductData.id,formData);
                    this.products.data.map(product=>{
                        if(product.id === response.data.data.id){
                            for(let key in response.data.data){
                                product[key]=response.data.data[key];
                            }
                        }
                    });
                    this.hideEditProductModel();
                    this.flashMessage.success({
                        title: 'Product Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteProduct: async function (product) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${product.name_en} (${product.name_ar})?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                productService.deleteProduct(product.id);
                                this.products.data = this.products.data.filter(obj => {
                                    return obj.id !== product.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
