<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Properties</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Property</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" @click="showNewPropertyModel">Create Property</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <b-row class="px-5">
                        <b-col cols="4">
                            <b-form-input placeholder="Search"  v-model="search" @keyup.enter="search"></b-form-input>
                        </b-col>
                    </b-row>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th>Name EN <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name_en')"></b-icon></th>
                                    <th>Name AR <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name_ar')"></b-icon></th>
                                    <th>Image</th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="properties.data" v-for="property in properties.data" >
<!--                                    <td>{{property.id}}</td>-->
                                    <td>{{property.name_en}}</td>
                                    <td>{{property.name_ar}}</td>
                                    <td><img v-bind:src="`${$store.state.serverPath}/storage/${property.property_img}`" class="w-150px"></td>
                                    <td>
                                        <button v-on:click="editProperty(property)" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteProperty(property)" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="properties" @pagination-change-page="getProperties"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newPropertyModel" hide-footer title="Create New Property">
                    <div class="form" v-on:submit.prevent="createProperty" style="margin: 10px">
                        <form>
                            <p v-show="errors" style="color: red">
                                * {{ errors }}</p>
                            <div class="form-group">
                                <label for="name_en">Name EN</label>
                                <input type="text" v-model="propertyData.name_en" class="form-control" id="name_en">
                            </div>
                            <div class="form-group">
                                <label for="name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="propertyData.name_ar" id="name_ar">
                            </div>
                            <div class="form-group">
                                <label for="image">Choose an image</label>
                                <div v-if="propertyData.property_img">
                                    <img src="" ref="newPropertyImageDisplay" class="w-150px"/>
                                </div>
                                <input type="file" v-on:change="attachImage" ref="newPropertyImage" class="form-control" id="image">
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewPropertyModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editPropertyModel" hide-footer title="Create Edit Property">
                    <div class="form" v-on:submit.prevent="updateProperty" style="margin: 10px">
                        <form>
                            <p v-show="editErrors" style="color: red">
                                * {{ editErrors }}</p>
                            <div class="form-group">
                                <label for="edit_name_en">Name EN</label>
                                <input type="text" v-model="editPropertyData.name_en" class="form-control" id="edit_name_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="editPropertyData.name_ar" id="edit_name_ar">
                            </div>
                            <div class="form-group">
                                <label for="edit_image">Image</label>
                                <div>
                                    <img v-bind:src="`${$store.state.serverPath}/storage/${editPropertyData.property_img}`" ref="editPropertyImageDisplay" class="w-150px">
                                </div>
                                <input type="file" v-on:change="editAttachImage" ref="editPropertyImage" class="form-control" id="edit_image">
                            </div>


                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditPropertyModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as propertyService from '../services/property_service';

    export default {
        name: "Property",
        data() {
            return {
                properties: {},
                propertyData:[],
                search:null,
                editPropertyData:[],
                errors: null,
                editErrors: null,
                direction: 'asc',
                sort: null,
                page: 1,
            }
        },
        created() {
            this.getProperties();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getProperties();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            attachImage(){
                this.propertyData.property_img = this.$refs.newPropertyImage.files[0];
                let reader = new FileReader();
                reader.addEventListener('load',function () {
                    this.$refs.newPropertyImageDisplay.src = reader.result;
                }.bind(this),false);
                reader.readAsDataURL(this.propertyData.property_img);
            },
            editAttachImage(){
                this.editPropertyData.property_img = this.$refs.editPropertyImage.files[0];
                let reader = new FileReader();
                reader.addEventListener('load',function () {
                    this.$refs.editPropertyImageDisplay.src = reader.result;
                }.bind(this),false);
                reader.readAsDataURL(this.editPropertyData.property_img);
            },
            hideNewPropertyModel() {
                this.$refs.newPropertyModel.hide();
            },
            showNewPropertyModel() {
                this.$refs.newPropertyModel.show();
            },
            sortChange(key) {
                this.direction = this.sort !== key || this.direction === 'desc' ? 'asc' : 'desc';
                this.sort = key;
                this.getProperties(1);
            },
            searchData: async function (){
                this.getProperties(1);
            },
            getProperties: async function (page=1){
                let params = {page: page};
                if (this.sort !== null) {
                    params['sort'] = this.sort;
                    params['direction'] = this.direction;
                }
                if(this.search !== null)
                    params['search'] = this.search;
                try {
                    let response = await propertyService.getProperty(params);
                    this.properties = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createProperty: async function () {
                if (!this.propertyData.name_en) {
                    this.errors="Name EN required.";
                }
                else if (!this.propertyData.name_ar) {
                    this.errors='Name AR required.';
                }else if (!this.propertyData.property_img) {
                    this.errors='Image required.';
                }else {
                    this.errors=null;
                let formData = new FormData();
                formData.append('name_en', this.propertyData.name_en);
                formData.append('name_ar', this.propertyData.name_ar);
                formData.append('property_img', this.propertyData.property_img);
                try {
                    const response = await propertyService.createProperty(formData);
                    this.errors = {};
                    this.properties.data.unshift(response.data);
                    this.hideNewPropertyModel();
                    this.flashMessage.success({
                        title: 'Property Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.errors = error.response.data.errors;
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditPropertyModel() {
                this.$refs.editPropertyModel.hide();
            },
            showEditPropertyModel() {
                this.$refs.editPropertyModel.show();
            },
            editProperty(property) {
                this.editPropertyData=property;
                this.showEditPropertyModel();
            },
            updateProperty: async function () {

                if (!this.editPropertyData.name_en) {
                    this.errors="Name EN required.";
                }
                else if (!this.editPropertyData.name_ar) {
                    this.errors='Name AR required.';
                }
               else {
                    this.errors=null;

                    let formData = new FormData();
                    if (this.editPropertyData.property_img){
                        console.log('hasfile');
                        formData.append('property_img', this.editPropertyData.property_img);
                    }

                formData.append('name_en', this.editPropertyData.name_en);
                formData.append('name_ar', this.editPropertyData.name_ar);
                formData.append('_method','put');
                try {
                    const response = await propertyService.updateProperty(this.editPropertyData.id,formData);
                    this.properties.data.map(property=>{
                        if(property.id === response.data.id){
                            for(let key in response.data){
                                property[key]=response.data[key];
                            }
                        }
                    });
                    this.hideEditPropertyModel();
                    this.flashMessage.success({
                        title: 'Property Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteProperty: async function (property) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${property.name_en} (${property.name_ar})?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                propertyService.deleteProperty(property.id);
                                this.properties.data = this.properties.data.filter(obj => {
                                    return obj.id !== property.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
