<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Services</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Service</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" @click="showNewServiceModel">Create Service</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <b-row class="px-5">
                        <b-col cols="4">
                            <b-form-input placeholder="Search"  v-model="search" @keyup.enter="search"></b-form-input>
                        </b-col>
                    </b-row>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th>Name EN <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name_en')"></b-icon></th>
                                    <th>Name AR <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name_ar')"></b-icon></th>
                                    <th>Price <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('price')"></b-icon></th>
                                    <th>Category</th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="services.data" v-for="(service,index) in services.data" :key="index">
<!--                                    <td>{{service.id}}</td>-->
                                    <td>{{service.name_en}}</td>
                                    <td>{{service.name_ar}}</td>
                                    <td>{{service.price}}</td>
                                    <td>{{service.category.name_en}}</td>
                                    <td>
                                        <button v-on:click="editService(service)" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteService(service)" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="services" @pagination-change-page="getServices"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newServiceModel" hide-footer title="create new service">
                    <div class="form" v-on:submit.prevent="createService" style="margin: 10px">
                        <form>
                            <p v-show="errors" style="color: red">
                                * {{ errors }}</p>
                            <div class="form-group">
                                <label for="name_en">Name EN</label>
                                <input type="text" v-model="serviceData.name_en" class="form-control" id="name_en">
                            </div>
                            <div class="form-group">
                                <label for="name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="serviceData.name_ar" id="name_ar">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" min="0" v-model="serviceData.price" class="form-control" id="price">
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" v-model="serviceData.category_id" class="form-control">
                                    <option v-for="category in categories" v-bind:value="category.id">
                                        {{ category.name_en }}
                                    </option>
                                </select>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewServiceModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>

                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editServiceModel" hide-footer title="create edit service">
                    <div class="form" v-on:submit.prevent="updateService" style="margin: 10px">
                        <form>
                            <p v-show="editError" style="color: red">
                                * {{ editError }}</p>
                            <div class="form-group">
                                <label for="edit_name_en">Name EN</label>
                                <input type="text" v-model="editServiceData.name_en" class="form-control" id="edit_name_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="editServiceData.name_ar" id="edit_name_ar">
                            </div>
                            <div class="form-group">
                                <label for="price_edit">Price</label>
                                <input type="number" min="0" v-model="editServiceData.price" class="form-control" id="price_edit">
                            </div>
                            <div class="form-group">
                                <label for="category_edit">Category</label>
                                <select id="category_edit" v-model="editServiceData.category_id" class="form-control">
                                    <option v-for="category in categories" v-bind:value="category.id">
                                        {{ category.name_en }}
                                    </option>
                                </select>
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditServiceModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as service from '../services/service';
    import * as categoryService from '../services/category_service';

    export default {
        name: "Service",
        data() {
            return {
                services: {},
                categories: [],
                serviceData:[],
                search:null,
                editServiceData:[],
                errors: null,
                editError: null,
                direction: 'asc',
                sort: null,
                page: 1,
            }
        },
        mounted() {
            this.getServices();
            this.getCategories();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getServices();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewServiceModel() {
                this.$refs.newServiceModel.hide();
            },
            showNewServiceModel() {
                this.$refs.newServiceModel.show();
            },
            sortChange(key) {
                this.direction = this.sort !== key || this.direction === 'desc' ? 'asc' : 'desc';
                this.sort = key;
                this.getServices(1);
            },
            searchData: async function (){
                this.getServices(1);
            },
            getCategories: async function () {
                try {
                    const response = await categoryService.getCategories();
                    this.categories = response.data.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getServices: async function (page=1){
                let params = {page: page};
                if (this.sort !== null) {
                    params['sort'] = this.sort;
                    params['direction'] = this.direction;
                }
                if(this.search !== null)
                    params['search'] = this.search;
                try {
                    let response = await service.getService(params);
                    this.services = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createService: async function () {
                if (!this.serviceData.name_en) {
                    this.errors="Name EN required.";
                }
                else if (!this.serviceData.name_ar) {
                    this.errors='Name AR required.';
                }else if (!this.serviceData.price) {
                    this.errors="Price required.";
                }
                else if (!this.serviceData.category_id) {
                    this.errors='Category required.';
                }

                else {
                    this.errors=null;

                let formData = new FormData();
                formData.append('name_en', this.serviceData.name_en);
                formData.append('name_ar', this.serviceData.name_ar);
                formData.append('price', this.serviceData.price);
                formData.append('category_id', this.serviceData.category_id);
                try {
                    const response = await service.createService(formData);
                    this.errors = {};
                    this.services.data.unshift(response.data.data);
                    this.hideNewServiceModel();
                    this.flashMessage.success({
                        title: 'Service Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditServiceModel() {
                this.$refs.editServiceModel.hide();
            },
            showEditServiceModel() {
                this.$refs.editServiceModel.show();
            },
            editService(service) {
                this.editServiceData=service;
                this.showEditServiceModel();
            },
            updateService: async function () {
                if (!this.editServiceData.name_en) {
                    this.editError="Name EN required.";
                }
                else if (!this.editServiceData.name_ar) {
                    this.editError='Name AR required.';
                }else if (!this.editServiceData.price) {
                    this.editError="Price required.";
                }
                else if (!this.editServiceData.category_id) {
                    this.editError='Category required.';
                }

                else {
                    this.editError=null;
                let formData = new FormData();
                formData.append('name_en', this.editServiceData.name_en);
                formData.append('name_ar', this.editServiceData.name_ar);
                formData.append('price', this.editServiceData.price);
                formData.append('category_id', this.editServiceData.category_id);
                formData.append('_method','put');
                try {
                    const response = await service.updateService(this.editServiceData.id,formData);
                    this.services.data.map(service=>{
                        if(service.id === response.data.data.id){
                            for(let key in response.data.data){
                                service[key]=response.data.data[key];
                            }
                        }

                    });
                    this.hideEditServiceModel();
                    this.flashMessage.success({
                        title: 'Service Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteService: async function (service) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${service.name_en} (${service.name_ar})?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                service.deleteService(service.id);
                                this.services.data = this.services.data.filter(obj => {
                                    return obj.id !== service.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
