<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tenants</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Tenant</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" @click="showNewTenantModel">Create Tenant</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <b-row class="px-5">
                        <b-col cols="11" md="6">
                            <b-form-group label-cols="3" label-cols-lg="2" label="Update" label-for="Update">
                                <select class="form-control"  id="update" v-model="update">
                                    <option value="Active">Active</option>
                                    <option value="Deactive">Deactive</option>
                                </select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="1" md="1">
                            <b-button @click="updateButton">apply</b-button>
                        </b-col>
                        <b-col cols="12" md="6">

                            <b-form-group label-cols="4" label-cols-lg="2" label="Filter by Building" label-for="filter">
                                <select id="filter" v-on:change="filterby"  v-model="filterSelect" class="form-control">
                                    <option disabled> Select Building</option>
                                    <option v-for="building in buildings" v-bind:value="building.name">
                                        {{ building.name }}
                                    </option>
                                </select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="6">
                            <b-form-input placeholder="Search"  v-model="search" @keyup.enter="search"></b-form-input>
                        </b-col>
                    </b-row>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th></th>
                                    <th>Name EN <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name_en')"></b-icon></th>
                                    <th>Name AR <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('name_ar')"></b-icon></th>
                                    <th>Active/Deactive <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('active')"></b-icon></th>
                                    <th>Building</th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="tenants.data" v-for="tenant in tenants.data">
<!--                                    <td>{{tenant.id}}</td>-->
                                    <td><b-form-checkbox size="sm" :value="tenant.id"  v-model="checkedTenantId"></b-form-checkbox></td>
                                    <td>{{tenant.name_en}}</td>
                                    <td>{{tenant.name_ar}}</td>
                                    <td><p v-if="tenant.active == 1">Active</p>
                                        <p v-else>Deactive</p></td>
                                    <td>{{tenant.building.name}}</td>
                                    <td>
                                        <button v-on:click="editTenant(tenant)" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteTenant(tenant)" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="tenants" @pagination-change-page="getTenants"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newTenantModel" hide-footer title="Create New Tenant">
                    <div class="form" v-on:submit.prevent="createTenant" style="margin: 10px">
                        <form>
                            <p v-show="error" style="color: red">
                                * {{ error }}</p>
                            <div class="form-group">
                                <label for="name_en">Name EN</label>
                                <input type="text" v-model="tenantData.name_en" class="form-control" id="name_en">
                            </div>
                            <div class="form-group">
                                <label for="name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="tenantData.name_ar" id="name_ar">
                            </div>

                            <div class="form-group">
                                <label for="building">Building</label>
                                <select id="building" v-model="tenantData.building_id" class="form-control">
                                    <option v-for="building in buildings" v-bind:value="building.id">
                                        {{ building.name }}
                                    </option>
                                </select>
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewTenantModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editTenantModel" hide-footer title="Create Edit Tenant">
                    <div class="form" v-on:submit.prevent="updateTenant" style="margin: 10px">
                        <form>
                            <p v-show="editError" style="color: red">
                                * {{ editError }}</p>
                            <div class="form-group">
                                <label for="edit_name_en">Name EN</label>
                                <input type="text" v-model="editTenantData.name_en" class="form-control" id="edit_name_en">
                            </div>
                            <div class="form-group">
                                <label for="edit_name_ar">Name AR</label>
                                <input type="text" class="form-control" v-model="editTenantData.name_ar" id="edit_name_ar">
                            </div>

                            <div class="form-group">
                                <label for="building_edit">Building</label>
                                <select id="building_edit" v-model="editTenantData.building_id" class="form-control">
                                    <option v-for="building in buildings" v-bind:value="building.id">
                                        {{ building.name }}
                                    </option>
                                </select>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditTenantModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as tenantService from '../services/tenant_service';

    export default {
        name: "Tenant",
        data() {
            return {
                tenants: {},
                tenantData:[],
                checkedTenantId:[],
                update:null,
                buildings:[],
                search:null,
                editTenantData:{},
                error: null,
                editError:null,
                filterSelect:null,
                direction: 'asc',
                sort: null,
                page: 1,
            }
        },
        mounted() {
            this.getTenants();
            this.getBuildings();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getTenants();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewTenantModel() {
                this.$refs.newTenantModel.hide();
            },
            showNewTenantModel() {
                this.$refs.newTenantModel.show();
            },
            sortChange(key) {
                this.direction = this.sort !== key || this.direction === 'desc' ? 'asc' : 'desc';
                this.sort = key;
                this.getTenants(1);
            },
            filterby: async function (){
                this.getTenants(1);
            },
            searchData: async function (){
                this.getTenants(1);
            },
            getTenants: async function (page=1){
                let params = {page: page};
                if (this.sort !== null) {
                    params['sort'] = this.sort;
                    params['direction'] = this.direction;
                }
                if(this.search !== null)
                    params['search'] = this.search;
                if(this.filterSelect !== null)
                    params['filter'] = this.filterSelect;
                try {
                    let response = await tenantService.getTenant(params);
                    this.tenants = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            getBuildings: async function (){
                try {
                    let response = await tenantService.getBuilding();
                    this.buildings = response.data.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createTenant: async function () {
                if (!this.tenantData.name_en) {
                    this.error="Name EN required.";
                }
                else if (!this.tenantData.name_ar) {
                    this.error='Name AR required.';
                }else if (!this.tenantData.building_id) {
                    this.error='Building required.';
                }else {
                    this.error=null;
                let formData = new FormData();
                formData.append('name_en', this.tenantData.name_en);
                formData.append('name_ar', this.tenantData.name_ar);
                formData.append('active', 1);
                formData.append('building_id', this.tenantData.building_id);
                try {
                    const response = await tenantService.createTenant(formData);
                    this.errors = {};
                    this.tenants.data.unshift(response.data.data);
                    this.hideNewTenantModel();
                    this.flashMessage.success({
                        title: 'Tenant Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.errors = error.response.data.errors;
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditTenantModel() {
                this.$refs.editTenantModel.hide();
            },
            showEditTenantModel() {
                this.$refs.editTenantModel.show();
            },
            editTenant(tenant) {
                this.editTenantData=tenant;
                this.showEditTenantModel();
            },
            updateTenant: async function () {
                if (!this.editTenantData.name_en) {
                    this.editError="Name EN required.";
                }
                else if (!this.editTenantData.name_ar) {
                    this.editError='Name AR required.';
                }else if (!this.editTenantData.building_id) {
                    this.editError='Building required.';
                }else {
                    this.editError=null;
                let formData = new FormData();
                formData.append('name_en', this.editTenantData.name_en);
                formData.append('name_ar', this.editTenantData.name_ar);
                formData.append('building_id', this.editTenantData.building_id);
                formData.append('_method','put');
                try {
                    const response = await tenantService.updateTenant(this.editTenantData.id,formData);
                    this.tenants.data.map(tenant=>{
                        if(tenant.id === response.data.data.id){
                            for(let key in response.data.data){
                                tenant[key]=response.data.data[key];
                            }
                        }
                    });
                    this.hideEditTenantModel();
                    this.flashMessage.success({
                        title: 'Tenant Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            updateButton: async function () {
                let formData = new FormData();
                formData.append('update', this.update);
                formData.append('tenantIds', this.checkedTenantId);
                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to ${this.update} ?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                tenantService.activeTenant(formData);
                                // this.tenants.data = this.tenants.data.filter(obj => {
                                //     return obj.id !== tenant.id;
                                // });
                                this.flashMessage.success({
                                    title: `Tenant Successfully ${this.update}`,
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            },
            deleteTenant: async function (tenant) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${tenant.name_en} (${tenant.name_ar})?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                tenantService.deleteTenant(tenant.id);
                                this.tenants.data = this.tenants.data.filter(obj => {
                                    return obj.id !== tenant.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
