<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Users</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create user</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary" @click="showNewUserModel">Create User</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <b-row class="px-5">
                        <b-col cols="11" md="6">
                            <b-form-group label-cols="3" label-cols-lg="2" label="Update" label-for="Update">
                                <select class="form-control"  id="update" v-model="update">
                                    <option value="Active">Active</option>
                                    <option value="Deactive">Deactive</option>
                                </select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="1" md="1">
                            <b-button @click="updateButton">apply</b-button>
                        </b-col>
                        <b-col cols="12" md="6">

                            <b-form-group label-cols="4" label-cols-lg="2" label="Filter by Roles" label-for="filter">
                                <select id="filter" v-on:change="filterby"  v-model="filterSelect" class="form-control">
                                    <option disabled> Select Role</option>
                                    <option v-for="(role, index) in roles" v-bind:value="role.name">
                                        {{ role.name }}
                                    </option>
                                </select>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="6">
                            <b-form-input placeholder="Search"  v-model="search" @keyup.enter="search"></b-form-input>
                        </b-col>
                    </b-row>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID     <b-icon icon="arrow-down-up" variant="dark" @click="sort(id)"></b-icon></th>-->
                                    <td></td>
                                    <th>First Name <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('first_name')"></b-icon></th>
                                    <th>Last name <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark"  @click="sortChange('last_name')"></b-icon></th>
                                    <th>Email <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark" @click="sortChange('email')"></b-icon></th>
                                    <th>Phone <b-icon icon="arrow-down-up" style="cursor: pointer" variant="dark" @click="sortChange('phone')"></b-icon></th>
                                    <th>Active/Deactive </th>
                                    <th>Role </th>
                                    <th>Action </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="users.data" v-for="(user,index) in users.data" :key="index">
<!--                                    <td>{{user.id}}</td>-->
                                    <td><b-form-checkbox size="sm" :value="user.id"  v-model="checkedUserId"></b-form-checkbox></td>
                                    <td>{{user.first_name}}</td>
                                    <td>{{user.last_name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.phone}}</td>
                                    <td><p v-if="user.active == 1">Active</p>
                                    <p v-else>Deactive</p></td>
                                    <td v-if="user.roles" v-for="(role,index) in user.roles" :key="index">
                                        {{role.name}}
                                    </td>
                                    <td>
                                        <button v-on:click="editUser(user)" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteUser(user)" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="users" @pagination-change-page="getUsers"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newUserModel" hide-footer title="create new user">
                    <div class="form" v-on:submit.prevent="createUser" style="margin: 10px">
                        <form>
                            <p v-show="errors" style="color: red">
                                * {{ errors }}</p>
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" v-model="userData.first_name" class="form-control" id="first_name">
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control" v-model="userData.last_name" id="last_name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" v-model="userData.email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="number" v-model="userData.phone" class="form-control" id="phone">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" v-model="userData.password" class="form-control" id="password">
                            </div>

                            <div class="form-group">
                                <label for="role">Role</label>
                                <select id="role" v-model="userData.role" class="form-control">
                                    <option v-for="(role, index) in roles" v-bind:value="role.name">
                                        {{ role.name }}
                                    </option>
                                </select>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewUserModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>

                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editUserModel" hide-footer title="create edit user">
                    <div class="form" v-on:submit.prevent="updateUser" style="margin: 10px">
                        <form>
                            <p v-show="editErrors" style="color: red">
                                * {{ editErrors }}</p>
                            <div class="form-group">
                                <label for="edit_first_name">First Name</label>
                                <input type="text" v-model="editUserData.first_name" class="form-control" id="edit_first_name">
                            </div>
                            <div class="form-group">
                                <label for="edit_last_name">Last Name</label>
                                <input type="text" class="form-control" v-model="editUserData.last_name" id="edit_last_name">
                            </div>
                            <div class="form-group">
                                <label for="edit_email">Email</label>
                                <input type="email" v-model="editUserData.email" class="form-control" id="edit_email">
                            </div>
                            <div class="form-group">
                                <label for="edit_phone">Phone</label>
                                <input type="number" v-model="editUserData.phone" class="form-control" id="edit_phone">
                            </div>

                            <div class="form-group">
                                <label for="edit_role">Role</label>
                                <select  id="edit_role" class="form-control" v-if="editUserData.roles" v-model="editUserData.roles[0].name">
                                    <option v-for="role in roles" v-bind:value="role.name" >{{ role.name }}</option>
                                </select>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditUserModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as userService from '../services/user_service';
    import * as roleService from '../services/role_service';
    import * as tenantService from "../services/tenant_service";

    export default {
        name: "User",
        data() {
            return {
                users: {},
                roles: [],
                update: null,
                checkedUserId:[],
                userData: [],
                search:null,
                editUserData:{},
                errors: null,
                editErrors: null,
                filterSelect:null,
                direction: 'asc',
                sort: null,
                page: 1,
            }
        },
        created() {
            this.getUsers();
            this.getRoles();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getUsers();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            sortChange(key) {
                this.direction = this.sort !== key || this.direction === 'desc' ? 'asc' : 'desc';
                this.sort = key;
                this.getUsers(1);
            },
            hideNewUserModel() {
                this.$refs.newUserModel.hide();
            },
            showNewUserModel() {
                this.$refs.newUserModel.show();
            },
            getRoles: async function () {
                try {
                    const response = await roleService.getRoles();
                    this.roles = response.data.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            filterby: async function (){
                this.getUsers(1);
            },
            searchData: async function (){
                this.getUsers(1);
            },
            getUsers: async function (page=1){
                let params = {page: page};
                if (this.sort !== null) {
                    params['sort'] = this.sort;
                    params['direction'] = this.direction;
                }
                if(this.search !== null)
                    params['search'] = this.search;
                if(this.filterSelect !== null)
                    params['filter'] = this.filterSelect;
                try {
                    let response = await userService.getUsers(params);
                    this.users = response.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createUser: async function () {
                if (!this.userData.first_name) {
                    this.errors="First Name required.";
                }
                else if (!this.userData.last_name) {
                    this.errors='Last Name required.';
                }else if (!this.userData.email) {
                    this.errors="Email required.";
                }
                else if (!this.userData.phone) {
                    this.errors='Phone required.';
                }

                else if (!this.userData.password) {
                    this.errors='Password required.';
                }
                else if (!this.userData.role) {
                    this.errors='Role required.';
                }

                else{
                    let formData = new FormData();
                formData.append('first_name', this.userData.first_name);
                formData.append('last_name', this.userData.last_name);
                formData.append('email', this.userData.email);
                formData.append('phone', this.userData.phone);
                formData.append('password', this.userData.password);
                formData.append('role', this.userData.role);
                try {
                    const response = await userService.createUser(formData);
                    this.errors = {};
                    this.users.data.unshift(response.data);
                    this.hideNewUserModel();
                    this.flashMessage.success({
                        title: 'User Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditUserModel() {
                this.$refs.editUserModel.hide();
            },
            showEditUserModel() {
                this.$refs.editUserModel.show();
            },
            editUser(user) {
                this.editUserData=user;
                this.showEditUserModel();
            },
            updateUser: async function () {
                if (!this.editUserData.first_name) {
                    this.editErrors = "First Name required.";
                } else if (!this.editUserData.last_name) {
                    this.editErrors = 'Last Name required.';
                } else if (!this.editUserData.email) {
                    this.editErrors = "Email required.";
                } else if (!this.editUserData.phone) {
                    this.editErrors = 'Phone required.';
                } else if (!this.editUserData.password) {
                    this.editErrors = 'Password required.';
                } else if (!this.editUserData.role) {
                    this.editErrors = 'Role required.';
                } else{
                let formData = new FormData();
                formData.append('first_name', this.editUserData.first_name);
                formData.append('last_name', this.editUserData.last_name);
                formData.append('email', this.editUserData.email);
                formData.append('phone', this.editUserData.phone);
                formData.append('role', this.editUserData.roles[0].name);
                formData.append('_method','put');
                try {
                    const response = await userService.updateUser(this.editUserData.id,formData);
                    this.users.data.map(user=>{
                        if(user.id === response.data.id){
                            for(let key in response.data){
                                user[key]=response.data[key];
                            }
                        }
                    });
                    this.hideEditUserModel();
                    this.flashMessage.success({
                        title: 'User Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            updateButton: async function () {

                let formData = new FormData();
                formData.append('update', this.update);
                formData.append('userIds', this.checkedUserId);
                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to ${this.update} ?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                userService.activeUser(formData);
                                // this.tenants.data = this.tenants.data.filter(obj => {
                                //     return obj.id !== tenant.id;
                                // });
                                this.flashMessage.success({
                                    title: `Tenant Successfully ${this.update}`,
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            },
            deleteUser: async function (user) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${user.first_name} ${user.last_name}?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                userService.deleteUser(user.id);
                                this.users.data = this.users.data.filter(obj => {
                                    return obj.id != user.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
