<template>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" :class="{ toggled: toggle }" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <router-link to="/home" class="nav-link" exact>
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </router-link>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>User</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">User Management:</h6>
                    <router-link to="/user" class="collapse-item" exact>
                        Users
                    </router-link>
                    <router-link to="/roles" class="collapse-item" href="">Roles</router-link>
                </div>
            </div>
        </li>



        <hr class="sidebar-divider d-none d-md-block">
        <li class="nav-item">
            <router-link to="/category" class="nav-link" >
                <i class="fas fa-fw fa-table"></i>
                <span>Category</span>
            </router-link>
        </li>
        <li class="nav-item">
            <router-link to="/service" class="nav-link" >
                <i class="fas fa-fw fa-table"></i>
                <span>Service</span>
            </router-link>
        </li>
        <li class="nav-item">
            <router-link to="/product" class="nav-link" >
                <i class="fas fa-fw fa-table"></i>
                <span>Product</span>
            </router-link>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Property Management</span>
            </a>
            <div id="collapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
<!--                    <h6 class="collapse-header">User Management:</h6>-->
                    <router-link to="/property" class="collapse-item" exact> Property</router-link>
                    <router-link to="/building" class="collapse-item" href="">Building</router-link>
                    <router-link to="/tenant" class="collapse-item" href="">Tenant</router-link>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <router-link to="/order" class="nav-link" >
                <i class="fas fa-fw fa-book"></i>
                <span>Order</span>
            </router-link>
        </li>
        <li class="nav-item">
            <router-link to="/booking" class="nav-link" >
                <i class="fas fa-fw fa-book"></i>
                <span>Booking</span>
            </router-link>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle" @click="sidebarToggle"></button>
        </div>

    </ul>
</template>
<script>
    export default {
        name: "Sidebar",
        data() {
            return {
                toggle: false
            }
        },
        methods:{
            sidebarToggle() {

                if(this.toggle){
                    document.body.classList.add('sidebar-toggled');
                    this.toggle=false;
                }
                else{
                    document.body.classList.remove('sidebar-toggled');
                    this.toggle=true;
                }
            }
        }
    }
</script>
